{% extends 'baselogin.html' %} 
{% block title %} Player Sign Up {% endblock title %} 
{% block form %}
<h1>Login as Player</h1>

<div class="row">
    <div class="col-md-12">
        <form action="/playerlogin" method="POST">

        {% include "message.html" %}

            <div class="form-group text-light">
                <label for="namecol">Username</label>
                <input type="text" class="form-control" id="namecol" placeholder="Enter valid gamer name" name="i_username">
            </div>

            <div class="form-group text-light">
                <label for="pwcol">Password</label>
                <input type="text" class="form-control" id="pwcol" placeholder="Password" name="i_pw">
            </div>
            <br>
            <button type="submit" class="btn btn-info">Login</button>

            <br>
            <a class="text-success" href="/playersignup">Create Account</a>
        </form>
    </div>
</div>


{% endblock form %}