<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reviews</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="./">Game Review Management System</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="./base.html">Home</a></li>
          <li><a class="nav-link scrollto" href="./">Reviews</a></li>
          <li><a class="nav-link scrollto" href="./New_Releases.html">New Releases</a></li>

        <li class="dropdown"><a href="./"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="./playerlogin.html">Player</a></li>
            <li><a href="./reviewerlogin.html">Reviewer</a></li>
            <li><a href="./adminlogin.html">Admin</a></li>
          </ul>
        </li>
          <li><a class="getstarted scrollto" href="./mainpage.html">READ REVIEWS</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Games</h2>
            <p  style="color:white;">Read reviews</p>
          </div>
  
          <div class="col-md-12">
    
            <table class="table table-dark">
          <thead>
          <h3 class="text-center text-white bg-dark">Reviews</h3>
            <tr>
              
              <th scope="col">Game</th>
              <th scope="col">Publisher</th>
              <th scope="col">Relased on</th>
              <th scope="col">Available on</th>
              <th scope="col">Review</th>
              <th scope="col">Hours Played</th>
              <th scope="col">Reviewer</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td>GTA Vice City</td>
              <td>Rockstar Games</td>
              <td>October 29, 2002</td>
              <td>PS4</td>
              <td>Naustalgia :)</td>
              <td>∞</td>
              <td>Anubhav</td>
            </tr>
            <tr>
              <td>Valorant</td>
              <td>Riot Games</td>
              <td>June 2, 2020</td>
              <td>PC</td>
              <td>Crazy!</td>
              <td>70</td>
              <td>Homie</td>
            </tr>
            <tr>
              <td>Far Cry 3</td>
              <td>Ubisoft</td>
              <td>January 15, 2013</td>
              <td>xbox</td>
              <td>A must play</td>
              <td>25</td>
              <td>Cosmic</td>
            </tr>
            <tr>
              <td>NFS: Most Wanted 2</td>
              <td>EA Games</td>
              <td>October 30, 2012</td>
              <td>Nintendo</td>
              <td>Thrilling, Fast Paced</td>
              <td>55</td>
              <td>alivepool</td>
            </tr>
            
          </tbody>
        </table>
            
            </div>
  
        </div>
      </section> <!--End Team Section -->
      
      <!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-4.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-5.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/assets/img/clients/client-6.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <footer>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Anubhav</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       Designed by <a href="https://www.linkedin.com/in/anubhavtekriwal/">Anubhav</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>